.contenedor_img {
    position: relative;
    /*display: inline-block;
    text-align: center;*/
}

.img-circular {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.centrado {
    /*background-color: rgba(255, 255, 255, .8);*/
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.texto-abajo {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}