@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k09pi3');
  src:  url('fonts/icomoon.eot?k09pi3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k09pi3') format('truetype'),
    url('fonts/icomoon.woff?k09pi3') format('woff'),
    url('fonts/icomoon.svg?k09pi3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-film:before {
  content: "\e913";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-users:before {
  content: "\e972";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
