// ESTE ES EL CSS ANTES DE COMPILAR
// EL COMPILADO ESTÁ EN practica.css

body {
  margin: 0;
  background-color: #fcfefc;
  font-family: Arial, sans-serif;
}

.icono {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 35px;
  text-decoration: none;
  outline: none;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fcfefc;
  border-bottom: 1px solid #000;

  h1 {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }

  i {
    position: absolute;
    right: 5px;
    top: 25%;
  }
}

$main-width: 750px;

main {
  width: $main-width;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  border-left: 10px dashed #808080;
  border-right: 10px dashed #808080;
  padding-left: 20px;
  padding-right: 20px;
}

section {
  background-color: #808080;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: $main-width * 0.40;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  margin-right: $main-width * 0.11;

  &.derecha {
    margin-right: 0;
  }

  &.ultimo {
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  article {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
    $margin: 5px;

    h3 {
      margin: 0;
      padding: $margin;
      border-bottom: 1px solid black;
    }

    p {
      margin: 0;
      padding: $margin;
      text-align: justify;
    }
  }
}
